<div class="card heroCard">
    <div class="card img">
        <img src="{{data.image}}" alt="">
        <span class="card-title">{{data.name}}</span>
    </div>
    <div class="card-content">
        <ul>
            <li><strong>Name:</strong> {{data.fullname}}</li>
            <li><strong>Appearance:</strong> {{data.firstappearance}}</li>
            <li><strong>Publisher:</strong> {{data.publisher}}</li>
            <li><strong>Alignment:</strong> {{data.alignment}}</li>
            <li><strong>Race:</strong> {{data.race}}</li>
            <li><strong>Race:</strong> {{data.placeofbirth}}</li>
            <li><strong>Gender:</strong> {{data.gender}}</li>
            <li><strong>Height:</strong> {{data.height}}</li>
            <li><strong>Weight:</strong> {{data.weight}}</li>
            <li><strong>Intelligence:</strong> {{data.intelligence}}</li>
            <li><strong>Strength:</strong> {{data.strength}}</li>
            <li><strong>Speed:</strong> {{data.speed}}</li>
            <li><strong>Durability:</strong> {{data.durability}}</li>
            <li><strong>Power:</strong> {{data.power}}</li>
            <li><strong>Combat:</strong> {{data.combat}}</li>
        </ul>
    </div>
    <div class="card-action">
        <button class="saveButton btn-floating btn-large waves-effect waves-light red"
            data-id="{{data.id}}">Save</button>
    </div>
</div>